extends ../../layouts/defaul.pug

block main
  .product-detail
    if (product.title)
      h1.product-title #{product.title}

    if (product.thumbnail)
      img.product-thumb(src=product.thumbnail)

    .product-info
      if (product.price)
        div.item Giá: <b>#{product.price}$</b>

      if (product.discountPercentage)
        div.item Giảm giá: <b>#{product.discountPercentage}%</b>

      if (product.stock)
        div.item Còn lại: <b>#{product.stock}</b>

      if (product.status)
        div.item
          span Trạng thái:
          if (product.status === "active")
            span.badge.badge-success Hoạt động
          else
            span.badge.badge-danger Dừng hoạt động

      if (product.position)
        div.item Vị trí: <b>#{product.position}</b>

    if (product.description)
      div.product-desc #{product.description}
    a(
        href=`${prefixAdmin}/products/edit/${product.id}`
        class="btn btn-warning"
    )   Sửa

    script(src="/admin/js/product.js")